/*Adrian Koornneef*/
/*January 2023*/
/*w3schools was used as a starting point for all basic functionality of the website.*/

/***********************Background**********************/
/*Used to style all pages same colour*/
body{
	background-color: #262421;
}

/***********************Fonts**********************/
/*Use for primary header, both pages*/ 
h1 {
	font-size: 48px; 
	color: white;
	text-align: center;
    font-weight: 900;
    font-family: 'Merienda', cursive;
	text-shadow: 2px 2px black;
}

/*Thinner version of H1 - subheader*/ 
h2 {
	font-size: 32px; 
	color: white;
	text-align: center;
    font-weight: 400;
    font-family: 'Merienda', cursive;
	text-shadow: 2px 2px black;
}

/*Gold Cursive -- Section Headers */
h3 {
	font-size: 32px; 
	color: #F2A74F;
    font-weight: 500;
    font-family: 'Merienda', cursive;
	text-shadow: 2px 2px black;
}

/*Smaller White -- Course Names */
h4 {
	font-size: 22px; 
	color: white;
    font-weight: 500;
    font-family: 'Merienda', cursive;
	text-shadow: 2px 2px black;
}

/*Smaller gold -- Section Sub Headers */
h5 {
	font-size: 20px; 
	color: #F2A74F;
    font-weight: 750;
    font-family: 'Syne Mono', monospace;
	text-shadow: 2px 2px black;
}

* p {
	color: white;
    font-family: 'Syne Mono', monospace;
	text-shadow: 2px 2px black;
}



/***********************Div Classes**********************/

/*Main content centered w/in this box*/
div.center_main_box {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
  }

  /*Formatting the centered box - all content should fall w/in this div*/
div.main  {
	padding: 5px; 
	margin: 5px; 
	margin-left: 10px;
	width: 80%;
	max-width:900px;
	background-color: rgb(51, 48, 48);
	border-radius: 15px; /*border shaping of header*/ 
	border: 1.5mm ridge rgba(29, 28, 27, 0.6) 
}

div.gen_div  {
	margin: 5px;
	padding: 5px;
}

div.just_text {
	text-align: justify;
	padding-left: 15px;
	padding-right: 15px;
}

div.title_section  {
	margin: 5px; /*General spacing formatting*/
	margin-top: 100px;
}



/***********************NavBar**********************/
/* https://www.w3schools.com/howto/howto_js_tabs.asp */


#navbar {
	background-color: #4B028C; 
	overflow: hidden;  
	border: 1px solid black; 
	position: fixed;
	width: 100%;
	top: -50px;
	display: block;
	transition: top 0.3s;
}
/*styling the links within the nav bar*/
#navbar a{
	float: left; 
	color: white; 
	text-align: center; 
	padding: 16px; 
	text-decoration: none;  
	font-weight: bold; 
	font-size: 17px;  
    font-family: 'Syne Mono', monospace;
	display: block;
	text-shadow: 2px 2px black
}
/* Change the color of links on hover */
#navbar a:hover {
  background-color: #7FA650; /*hover colour matches accent colour formatting of page*/
  color: white; 
  font-family: 'Syne Mono', monospace; /*changes font style hovering */
  align-content: center;
 }


/********************** HEADER **********************/

header.A {
	background-color: #777; /*For browsers that do not support gradients */
	background-image: linear-gradient(to bottom right, rgba(94, 94, 94, 0),rgb(29, 29, 29, 1)); /*w3schools - css gradients */
	padding: 15px; /*space formatting */ 
	border-radius: 5px; /*border shaping of header*/ 
	border: 1px solid black; /*basic formatting*/ 
	text-align: center; /*center-align the header text*/ 
	margin: 20px; /*space formatting */
	margin-top: 30px;
	border: 1.5mm ridge rgba(20, 20, 19, 0.9) 
  }



/***********************EXTERNAL LINK STYLING**********************/
/* https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_vertical_active*/ 
/* https://www.w3schools.com/css/tryit.asp?filename=trycss_link2 */

ul {
	list-style-type: none;  /*remove bulletpoints*/
	margin: 5px; 
	padding: 5px; 
	margin-top: 50px;
}
/* list link elements within the parent unorganized list element above*/
li a {
    list-style-type: none;  
	text-align: center;
	border-radius: 25px; 
	padding: 15px; 
	border: 2px solid black; 
	width: 225px;
	background-color: #7FA650; 
	color: rgb(221, 219, 219); 
	text-decoration: none; 
	font-weight: bold; 
	margin-top: 25px;
	text-shadow: .5px 1px black;
}

/* When the mouse is hovering over a link in the navbar*/
a.ext:link {color: white;} 
a.ext:hover {
	color: #F2A74F;	
	background-color: #4B028C; 
}


/***********************IMAGE Formatting********************/

img.Profile {
	max-width: 182px; 
	max-height: 203px; 
	border-radius: 100px; 
	border: 3px solid black; 
	margin-left: 25px; 
	margin-right: 10px; 
}

img.thumbnails {
	max-width: 100%;
	border-radius: 25px; 
	border: 3px solid black; 
	/* margin-left: 25px; 
	margin-right: 10px;  */
}

/*image class that represent smaller versions of images in image gallery .*/
img.port_photos {
	border-radius: 25px; 
	border: 2px solid black; 
	max-width: 100%;
	margin-top: 25px;
}

